body {
    font-family: Arial, sans-serif;
    background-color: #1a1a1a; /* Dark background color */
    color: #f0f0f0; /* Light font color */
    padding: 20px;
}
.input-container {
    margin-bottom: 20px;
}
.input-container label {
    margin-right: 10px;
}
table {
    width: 70%;
    border-collapse: collapse;
    margin-bottom: 20px;
}
table, th, td {
    border: 0.5px solid #f0f0f0;
    font-size: 15px;
    height: 20px;
}
/* Decrease the height of the table rows and cells */
table tr, table td {
    height: 20px; /* Adjust the height as needed */
    padding: 10px;
    text-align: center;
}

.color-table-container {
    display: flex;
    gap: 20px; /* Optional: Add some space between the tables */
    align-items: flex-start; /* Align tables at the top */
}
.canvas-container {
    border: 1px solid #000;
    width: 100%;
    height: 400px;
}
.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 25px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
  }